{+warn=noDPI-SFESN;}
{+warn=noUII-L;}
{-suppress=WMIA-L;}
{-suppress=ULCO;}
{-suppress=ZERO;}
{-suppress=NS;}
{-suppress=ULSU;}
{-suppress=MC-MTCNSC;}
{
  +lint=none;
  +file=../../hvl/vc/cpu/rvfimon.v;
}
{
  +lint=none;
  +module=DW_div;
}
{
  +lint=none;
  +module=DW_div_pipe;
}
{
  +lint=none;
  +module=DW_div_seq;
}
{
    +lint=none;
    +module=DW_mult_seq;
}
{
    +lint=none;
    +module=DW02_mult_6_stage;
}
